.card-container {
    width: 100%;
    max-width: 400px;
    border: 1px solid gray;
    float: left;
    margin: 8px;
    cursor: pointer;

     /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
}

/* On mouse-over, add a deeper shadow */
.card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.tag {
    background-color: lightgray;
    border-radius: 25px;
    padding: 4px 8px;
    margin: 4px 4px;
    display: inline-block;
}

.actor-name {
    background-color: cadetblue;
}

img {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

.data-title {
    margin: 0;
    font-weight: 600;
    padding: 0 8px;
    margin-top: 8px;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}